#SignupPage{
    background-image: url(aa_background.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* *{
    margin : 0px;

}

body{
    display: flex;
    flex-direction: column;
}


header{
    display: flex;
    flex-direction: row;
    justify-content : flex-end;
    align-items: center;
    background-color: white;
}

.customNav{
    background-color: white;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left : 5px;
    margin-right: auto;
}

#logo img{
    margin-right: 2px;
}

header img{
    height: 250px;
    max-width: 50px;
    max-height: 50px; 
}

.nav-link:hover{
    text-decoration: underline;
    background-color: rgb(243, 200, 57);
}

.login-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1001;
    background-color:  rgb(243, 200, 57);
    border-radius: 20px;
    width: 80px;
  }
  @media (max-width: 767px){}
    .navbar-collapse {
      position: relative;
      z-index: 1000;
    }
    .login-btn:hover {
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 1001;
        background-color : rgb(245, 190, 11);
      } */
/* 
#image{
    margin-top: 200px;
} */